@page "/how-to-fail-lufs"
<h3>Luffs</h3>
<br/>
<h5>Failing like a Pro</h5>
Just do what I do and you'll have great characters but naff damage because you leave it on Auto+

must use volume on headset controls
@code {

}
