@page "/register"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage

<h3>Register</h3>

<EditForm Model="user" OnSubmit="HandleRegister">
    <label for="username">Name</label>
    <InputText class="validate[required,length[6,300]]" id="username" @bind-Value="user.Username" /><p/>
    <label for="password">Password</label>
    <InputText class="validate[required,length[6,300]]" id="password" @bind-Value="user.Password" type="password" />
    <label for="password">Name</label>
    <InputText class="validate[required,length[6,300]]" id="name" @bind-Value="user.Name" type="password" />
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    UserDto user = new UserDto();

    async Task HandleRegister()
    {
        var result = await Http.PostAsJsonAsync("api/auth/register", user);
        var token = await result.Content.ReadAsStringAsync();
        Console.WriteLine(token);
        await LocalStorage.SetItemAsync("token", token);
        //await AuthStateProvider.GetAuthenticationStateAsync();
    }
}